@use '@angular/material' as mat;
@include mat.core();

$crud-angular-primary: mat.define-palette(mat.$blue-palette);
$crud-angular-accent: mat.define-palette(mat.$indigo-palette, A200, A400, 700);
$crud-angular-warn: mat.define-palette(mat.$red-palette);

$crud-angular-theme: mat.define-light-theme((color: (primary: $crud-angular-primary,
                accent: $crud-angular-accent,
                warn: $crud-angular-warn )));

@include mat.all-component-themes($crud-angular-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}